.sns-bg {
    padding: 20px 0;
    background: #EFEFEF;
}

.sns-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.sns-nav-bar div.container {
    height: 40px;
}

.sns-nav-bar div.container a.sns-home {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 43px;
    float: left;
}

.sns-nav-bar div.container div.sns-nav-list {
    float: right;
}

.sns-nav-bar div.container div.sns-nav-list ul {
    float: right;
    list-style: none;
    padding: 0;
}

.sns-nav-bar div.container div.sns-nav-list ul li {
    float: left;
    width: 40px;
}

.sns-nav-bar div.container div.sns-nav-list ul li a {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 41px;
    font-size: 16px;
}

.sns-nav-list {
    display: none;
}

.sns-search {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    color: #666;
}

.sns-search span {
    outline: none;
}

.sns-search-keyword {
    position: absolute;
    top: 5px;
    right: 40px;
    width: 200px;
    height: 30px;
    padding: 0 30px 0 10px;
    border: none;
    outline: none;
    background: #EFEFEF;
    display: none;
}

.sns-keyword-remove {
    position: absolute;
    top: 5px;
    width: 40px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    right: 40px;
}

.sns-container {
    margin-top: 40px;
}

/* Left */

.sns-sidebar {
    padding: 0;
    /*display: none;*/
}

.sns-sidebar .my-profile {
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.sns-sidebar .my-profile .my-info {
    position: relative;
    height: 100px;
    padding: 15px;
    background-color: #FF5879;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.sns-sidebar .my-profile .my-info a.bg-change-btn {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
}

.sns-sidebar .my-profile .my-info a.bg-change-btn:hover {
    color: rgba(255, 255, 255, 0.7);
}

.sns-sidebar .my-profile .my-info a.bg-change-btn .bg-input {
    position: absolute;
    padding: 0;
    top: 30px;
    right: -5px;
    border-radius: 5px;
    color: #666;
}

.bg-img-input {
    position: absolute;
    right: -20px;
    top: 30px;
}

.bg-img-input .glyphicon-triangle-top {
    position: absolute;
    top: 0;
    right: 33px;
    color: #FFF;
    z-index: 100;
}

.photo-img-input {
    position: absolute;
    left: -15px;
    top: 70px;
}

.photo-img-input .glyphicon-triangle-top {
    position: absolute;
    top: 0;
    right: 40px;
    color: #FFF;
    z-index: 100;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #FFF;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.sns-sidebar .my-profile .my-info .my-photo {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    border: 3px solid #FFF;
    border-radius: 5px;
    background-color: #AAA;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.sns-sidebar .my-profile .my-info .my-photo a.photo-change-btn {
    position: absolute;
    /*display: block;*/
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: #FFF;
    display: none;
}

.sns-sidebar .my-profile .my-info .profile {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: calc(100% - 90px);
    height: 50px;
}

.sns-sidebar .my-profile .my-info .profile div#name {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sns-sidebar .my-profile .my-info .profile div#email {
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
}

.sns-sidebar .my-record {
    background: #FFF;
    height: auto;
    display: inline;
}

.sns-sidebar .my-record ul {
    margin: 0;
    padding: 15px;
    list-style: none;
    background: #FFF;
}

.sns-sidebar .my-record ul li {
    display: inline-block;
    width: 32%;
    margin: 0;
}

.sns-sidebar .my-record ul li div:first-child {
    font-size: 12px;
}

.sns-sidebar .my-record ul li div:last-child {
    font-size: 16px;
    font-weight: 600;
    color: #FF5879;
}

.sns-sidebar .simple-write {
    margin-top: 15px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.sns-sidebar .simple-write .title {
    font-size: 12px;
}

.sns-sidebar .simple-write .title span {
    color: #7ACCBE;
}

.sns-sidebar .simple-write .title a.simple-write-control {
    float: right;
    width: 40px;
    text-align: right;
    color: #999;
}

.sns-sidebar .simple-write textarea {
    width: 100%;
    height: 80px;
    resize: none;
    margin-top: 10px;
    background: #F8F8F8;
    border: 1px solid #DDD;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sns-sidebar .simple-write textarea:focus {
    outline: none !important;
    border: 1px solid #DDD;
}

.sns-sidebar .simple-write ul.write-item {
    list-style: none;
    padding: 10px 0 0 0;
}

.sns-sidebar .simple-write ul.write-item li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sns-sidebar .simple-write ul.write-item li:last-child {
    float: right;
    width: 60px;
}

.sns-sidebar .simple-write ul.write-item li.sendBtn a {
    display: block;
    width: 60px;
    border-radius: 3px;
    background: #DDD;
    color: #FFF;
}

.sns-sidebar .sideNav {
    margin-top: 15px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.sns-sidebar .sideNav ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.sns-sidebar .sideNav ul li {
    font-size: 12px;
    line-height: 24px;
}

.sns-sidebar .sideNav ul li a > span {
    font-size: 10px;
}

.sns-sidebar .sideNav ul li > span {
    float: right;
    color: #999;
}

.recommend {
    padding: 15px;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.recommend ul {
    list-style: none;
    padding: 10px 0 0 0;
}

.recommend ul li {
    height: 40px;
    margin-bottom: 10px;
}

.recommend ul li div.photo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 2px solid #7ACCBE;
    border-radius: 5px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
}

.recommend ul li div.content {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    width: calc(100% - 100px);
    line-height: 20px; /* fallback */
    max-height: 48px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-right: 5px;
}

.recommend ul li button {
    float: left;
    width: 50px;
    height: 40px;
    padding: 5px;
    color: #7ACCBE;
    background: none;
    font-size: 10px;
}

.popularity {
    font-size: 12px;
    padding: 15px;
    margin-top: 15px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

a.repeat-list {
    font-size: 10px;
    float: right;
    color: #999;
}

.popularity #popularCarousel {
    margin-top: 10px;
}

.popularity ol.carousel-indicators {
    bottom: 0;
    left: calc(100% - 60px);
    -webkit-left: calc(100% - 60px);
    -moz-left: calc(100% - 60px);
    right: 0;
    width: 60px;
    margin-left: 0;
    text-align: left;
}

.popularity ol.carousel-indicators li {
    width: 7px;
    height: 7px;
}

.popularity #popularCarousel .carousel-inner .item {
    height: 160px;
}

.popularity #popularCarousel .carousel-inner .item .title {
    position: absolute;
    z-index: 100;
    padding: 20px 15px;
    color: #FFF;
    top: 0;
    left: 0;
    width: 50%;
}

.popularity #popularCarousel .carousel-inner .item .title > div {
    /*font-size: 14px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px; /* fallback */
    max-height: 100%; /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* Center */

.sns-center {
    padding: 0 15px;
}

.posts {
    padding:0;
}

.posts > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.posts > ul > li {
    padding:0;
}

.posts > ul > li > div {
    width: calc( 100% - 15px );
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.posts > ul > li > div > img {
    width:100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.posts > ul > li > div > .title {
    padding-top: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #333;
}

.posts > ul > li > div > .content {
    padding-top: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #666;
}





@media (min-width: 768px) {
    .sns-nav-list {
        display: block;
    }

}

@media (min-width: 992px) {
    .sns-sidebar {
        /*display: block;*/
    }
}