<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="container">
    <div class="col-md-6">Test</div>
    <div class="col-md-6">Test</div>
</div>

<div class="skill">
    <div class="container">
        <div class="col-md-4">
            <h4>Html</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
        <div class="col-md-4">
            <h4>CSS</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
        <div class="col-md-4">
            <h4>Javascript</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>

        <div class="col-md-4">
            <h4>AngularJS</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
        <div class="col-md-4">
            <h4>Bootstrap</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
        <div class="col-md-4">
            <h4>Ionic</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>

        <div class="col-md-4">
            <h4>Git</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
        <div class="col-md-4">
            <h4>Underscore</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
        <div class="col-md-4">
            <h4>MongoDB</h4>
            <p>Lorem ipsum dolor sit amet, latine deterruisset no sea, cum et altera oblique molestiae. Liber inimicus
                eam eu, ne numquam inermis constituam mea. Fabulas temporibus at ius. Aeque dissentiet per ad.</p>
        </div>
    </div>
</div>