<a class="pf-home" href="#/">
    <span class="glyphicon glyphicon-home"></span>
</a>

<div class="sns-bg">
    <div class="sns-nav-bar">
        <div class="container">
            <a class="sns-home" href="#/sns"><span class="glyphicon glyphicon-grain"></span></a>
            <div class="sns-nav-list">
                <ul>
                    <li class="sns-item"><a><span class="glyphicon glyphicon-user"></span></a></li>
                    <li class="sns-item"><a><span class="glyphicon glyphicon-envelope"></span></a></li>
                    <li class="sns-item"><a><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li class="sns-item"><a><span class="glyphicon glyphicon-pencil"></span></a></li>
                    <li class="sns-item"><a><span class="glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
            <div class="sns-search">
                <span class="glyphicon glyphicon-search" ng-click="searchClick()"></span>
                <input ng-model="searchKeyword" class="sns-search-keyword" type="search" placeholder="search">
                <a class="sns-keyword-remove" ng-show="searchKeyword && searchBar" ng-click="searchKeyword=''">✕</a>
            </div>
        </div>
    </div>

    <div class="container sns-container">
        <!-- Left Sidebar -->
        <div class="sns-sidebar col-md-3">
            <div class="my-profile">
                <div class="my-info">
                    <a class="bg-change-btn" ng-click="targetBg = !targetBg"><span
                            class="glyphicon glyphicon-camera"></span></a>
                    <div class="bg-img-input" ng-if="targetBg">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                        <div class="fileUpload btn">
                            <span>Upload</span>
                            <input type="file" class="upload"
                                   onchange="angular.element(this).scope().changeImg(this , 'my-info')"/>
                        </div>
                    </div>

                    <div class="my-photo">
                        <a class="photo-change-btn" ng-click="targetPhoto = !targetPhoto"><span
                                class="glyphicon glyphicon-camera"></span></a>
                        <div class="photo-img-input" ng-if="targetPhoto">
                            <span class="glyphicon glyphicon-triangle-top"></span>
                            <div class="fileUpload btn">
                                <span>Upload</span>
                                <input type="file" class="upload"
                                       onchange="angular.element(this).scope().changeImg(this , 'my-photo')"/>
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        <div id="name">Semjok</div>
                        <div id="email">m.semjok@gmail.com</div>
                    </div>
                </div>

                <div class="my-record">
                    <ul>
                        <li>
                            <div>Posts</div>
                            <div>9</div>
                        </li>
                        <li>
                            <div>Follow</div>
                            <div>33</div>
                        </li>
                        <li>
                            <div>Following</div>
                            <div>21</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="simple-write">
                <div class="title">
                    <span class="glyphicon glyphicon-leaf"></span> 소식을 전하시겠습니까?
                    <a class="simple-write-control" ng-if="controlOn" ng-click="closeSimpleWrite()">▾</a>
                    <a class="simple-write-control" ng-if="!controlOn" ng-click="closeSimpleWrite()">‣</a>
                </div>
                <div class="simple-write-content">
                    <input ng-model="postContent.title" type="text" class="form-control">
                    <textarea ng-model="postContent.content" class="form-control"></textarea>
                    <div>
                        <ul class="write-item">
                            <li ng-style="{color: postContent.image ? '#FF5879' : '#666'}">
                                <span class="glyphicon glyphicon-picture"></span>
                                <input type="file" onchange="angular.element(this).scope().uploadImage(this)" multiple />
                            </li>
                            <li>
                                <a data-toggle="modal" data-target=".uploadVideoModal"><span class="glyphicon glyphicon-facetime-video"></span></a>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-user"></span>
                            </li>
                            <!--<li class="glyphicon glyphicon-map-marker"></li>-->
                            <li class="sendBtn">
                                <a ng-style="{'background' : (postContent.content.length > 0 && postContent.title.length > 0)? '#7ACCBE' : '#DDD' }"><span class="glyphicon glyphicon-ok"></span></a></li>
                        </ul>
                    </div>

                    <div class="image" ng-if="postContent.image" style="background-image:url('{{postContent.image}}')">
                        <p>Upload image : {{postContent.imageName}}</p>
                        <a class="cancel" ng-click="cancelImage()">✕</a>
                    </div>
                    <div class="video" ng-if="postContent.video">sdjlaskd</div>
                    <div class="user">sdjlaskd</div>
                    <div class="marker">sdjlaskd</div>
                </div>
            </div>

            <!-- Upload Video Modal-->
            <div class="modal fade uploadVideoModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        ...
                    </div>
                </div>
            </div>

            <div class="sideNav">
                <ul>
                    <li>
                        <a><span class="glyphicon glyphicon-bookmark"></span> Bookmark</a>
                        <span>2</span>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-thumbs-up"></span> Likes</a>
                        <span>12</span>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-pushpin"></span> Pin</a>
                        <span>4</span>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-calendar"></span> Event</a>
                        <span>1</span>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-user glyphicon-user"></span> Friend</a>
                        <span>3</span>
                    </li>
                </ul>
            </div>

            <div class="recommend">
                Recommend <a class="repeat-list" ng-click="recommendUser()"><span class="glyphicon glyphicon-repeat"></span></a>
                <ul>
                    <li ng-repeat="list in recommend">
                        <div class="photo" style="background-image: url('{{list.user.photo}}')">
                            <p>{{list.user.name}} profile image</p>
                        </div>
                        <div class="content">
                            <div class="text">{{list.title}}</div>
                        </div>
                        <button class="moreBtn btn">더보기<span class="glyphicon glyphicon-triangle-right"></span></button>
                    </li>
                </ul>
            </div>

            <div class="popularity">
                Popularity <a class="repeat-list" ng-click="popularityList();"><span class="glyphicon glyphicon-repeat"></span></a>


                <div id="popularCarousel" class="carousel slide" data-ride="carousel">

                    <div class="loading">
                        Loading ...
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#popularCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#popularCarousel" data-slide-to="1"></li>
                        <li data-target="#popularCarousel" data-slide-to="2"></li>
                        <li data-target="#popularCarousel" data-slide-to="3"></li>
                        <li data-target="#popularCarousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="list in popularity">
                            <img src="{{list.item.image}}" alt="{{list.item.image}}">
                            <div class="title">
                                <div>{{list.item.title}}</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- //. Left Sidebar -->

        <!-- Content -->
        <div class="sns-center col-md-6">
            <div class="posts" infinite-scroll>
                <ul class="items">

                    <li class="item" ng-repeat="list in snsList track by $index">
                        <div class="image" style="background-image: url('{{list.item.image}}')">
                            <p>title '{{list.item.title}}' for background image</p>
                        </div>
                        <div class="content">
                            <div class="user-photo" style="background-image: url('{{list.user.photo}}')">
                                <p>{{list.user.name}} profile image</p>
                            </div>
                            <div class="user-name"><h4>{{list.user.name}}</h4></div>
                            <h5>{{list.item.title}}<span>- {{ list.item.date | elapsedTimeFilter}} 전</span></h5>
                            <div class="text">{{list.item.content}}</div>
                        </div>
                        <div class="feed">
                            <ul>
                                <li><a class="view" ng-style="{ color : ( list.feed.views | countStyleCheck )}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="count">{{list.feed.views}}</span></a></li>
                                <li><a class="like" ng-style="{ color : (list.feed.likes | countStyleCheck )}">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span class="count">{{list.feed.likes}}</span></a></li>
                                <li><a class="comment" ng-style="{ color : (list.feed.comments | countStyleCheck )}">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span class="count">{{list.feed.comments}}</span></a></li>
                                <li><a class="pin" ng-style="{ color : (list.feed.pin | countStyleCheck )}">
                                    <span class="glyphicon glyphicon-pushpin"></span>
                                    <span class="count">{{list.feed.pin}}</span></a>
                                </li>
                                <li><a class="bookmark" ng-style="{ color : (list.feed.bookmark | countStyleCheck )}">
                                    <span class="glyphicon glyphicon-bookmark"></span>
                                    <span class="count">{{list.feed.bookmark}}</span></a></li>
                            </ul>
                            <a class="moreBtn">more<span class="glyphicon glyphicon-triangle-right"></span></a>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="loading">Loading ... </div>
        </div>
        <!-- //. Content -->

        <!-- Right Sidebar-->
        <div class="sns-right-sidebar col-md-3">
            <div class="fixedSponsored">
                <div class="sponsored">
                    <div>Sponsored</div>
                </div>

                <div class="sponsor-list">
                    <ul>
                        <li class="default">
                            <img alt="sponsor image">
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                            <p>Proin sit amet massa ante. Proin cursus ligula augue, ut bibendum ante ullamcorper vitae.</p>
                        </li>

                        <li class="choose1">
                            <img alt="sponsor image">
                            <h5 class="title">Mauris interdum est non enim feugiat, ut dignissim quam maximus.</h5>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    copyright ⓒ 2016 <a href="http://semjok.com" target="_blank">SEMJOK</a><br />All Rights Reserved
                </div>
            </div>
        </div>
        <!-- //. Right Sidebar-->

    </div>
</div>